body {
  font-family:  sans-serif;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.thought-container {
  display:flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

 }

.thought-text {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.thought {
  width: 400px;
  min-width: 200px;
  padding: 10px;
}

.thought-text {
  font-size: 1.3em;
}

.thought-author {
  margin-top: 20px;
  text-align: right;
}

.thought-open, .thought-close {
  opacity: 0.8;
  font-family: serif;
}

.thought-open {
  float: left;
  margin-right: 10px;
  font-size: 4em;
  font-weight: bold;
}

.thought-close {
  float: right;
  margin-left: 10px;
  font-size: 4em;
  font-weight: bold;
}

.link-next, .link-previous {
  transition: all .2s ease-in-out;
  color: black;
  font-size: 4em;
  margin: 20px;
  opacity: 0.3;
  padding-bottom: 25px;
  &:hover {
    transform: scale(1.1);
  }
}
